body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
  width: fit-content;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.verticalText {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

ol {
  display: flex;
  flex-wrap: wrap;
}

li {
  margin-right: 26px;
}

a {
  text-decoration: none;
  color: blueviolet;
  text-align: center;
  margin-top: 20px;
}